* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --default-em: 3.75em;
  --logo: 10rem;
  --family-name: Arial, Helvetica, sans-serif;
  --general-bg-color: #eeecec;
  --defautl-bg-color: #f7f7f7;
  --defaut-text-color: #000;
  --btn-bg-color: #ee2211;
  --btn:#ffffff;
  --hover-btn: #991a0e;
  --subtitle: rgba(0, 0, 0, 0.2);
  --onda: url(./img/onda.svg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --defautl-bg-color: #111111;
    --general-bg-color: #000000;
    --defaut-text-color: #ffffff;
    --subtitle: rgba(255, 255, 255, 0.2);
    --onda: url(./img/onda-escura.svg);
  }
}

body {
  font-family: var(--family-name);
  background-color: var(--general-bg-color);
  color: var(--defaut-text-color);
  display: grid;
  justify-items: center;
  gap: var(--default-em);
  margin-top: var(--default-em);
}

.box {
  background-color: var(--defautl-bg-color);
  padding: 2.4em;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.25em;
}

.logo {
  max-width: var(--logo);
}

.navigation .menu .link {
  background-color: var(--defautl-bg-color);
  padding: 0.93em 1.8em;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--defaut-text-color);
}

.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25em;
}

.link {
  text-decoration: none;
  display: inline-block;
  border: transparent solid 0.1rem;
}

.navigation .menu .link:hover {
  border: var(--btn-bg-color) solid 0.1rem;
}

/* Content */

/* Intro */
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.intro {
  display: grid;
  align-content: center;
  justify-items: end;
  gap: 1.25em;
  text-align: right;
  position: relative;
}

.figure .bike-pic {
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

.intro::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.25rem;
  background-color: var(--btn-bg-color);
  top: 1.8rem;
  right: -1.5rem;
}

.intro .title {
  font-size: 2rem;
}

.btn {
  background-color: var(--btn-bg-color);
  color: var(--btn);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.9em 1.8em;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--hover-btn);
}

/* Subtitle */

.subtitle {
  background-image: var(--onda);
  font-size: 4em;
  text-transform: uppercase;
  color: var(--subtitle);
  text-align: right;
  align-self: center;
  padding: 0 0.5em;
}

/* Vantages */

.vantages:nth-child(odd) {
  background-color: var(--general-bg-color);
}

.vantages .vantages-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em 1.25em;
  align-items: center;
  padding: 0.5em;
}

.vantages-item .vantages-parag {
  grid-column: 2;
}

.vantages-item:hover {
  border-left: #ee2211 solid 0.2rem;
}

/* Footer */

.footer {
  background-color: var(--defautl-bg-color);
  width: 100%;
  text-align: center;
}

.footer .parag-footer {
  padding: 1em;
}

/* Media Queries */

@media (max-width: 64rem) {
  .content-vantages {
    grid-template-columns: 1fr;
  }

  .subtitle {
    text-align: center;
  }
}

@media (max-width: 50rem) {
  .content {
    grid-template-columns: 1fr;
  }

  .intro::before {
    display: none;
  }

  body {
    gap: 1.5rem;
    margin-top: 2.5rem;
  }

  .header {
    gap: 1rem;
  }

  .menu {
    gap: 0.75rem;
  }

  .intro {
    text-align: left;
    justify-items: start;
  }
}