* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeecec;
  display: grid;
  justify-items: center;
  gap: 3.75em;
  margin-top: 3.75em;
}

.box {
  background-color: #fff;
  padding: 2.4em;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

/* Heaser */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.25em;
}

.logo {
  max-width: 10rem;
}

.navigation .menu .link {
  background-color: #f7f7f7;
  padding: 0.93em 1.8em;
  border-radius: 5px;
  text-transform: uppercase;
  color: #000;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25em;
}

.link {
  text-decoration: none;
  display: inline-block;
  border: transparent solid 0.1rem;
}

.navigation .menu .link:hover {
  border: #ee2211 solid 0.1rem;
}

/* Content */

/* Intro */
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  /* max-width: 60em;    */
}

.intro {
  display: grid;
  align-content: center;
  justify-items: end;
  gap: 1.25em;
  text-align: right;
  position: relative;
}

.figure .bike-pic {
  object-fit: cover;
  height: 100%;
  max-width: 100%;
}

.intro::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 0.25rem;
  background-color: #ee2211;
  top: 1.8rem;
  right: -1.5rem;
}

.intro .title {
  font-size: 2rem;
}
.btn {
  background-color: #ee2211;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.9em 1.8em;
  border-radius: 5px;
}

.btn:hover {
  background-color: #991a0e;
}

/* Subtitle */

.subtitle {
  background-image: url(./img/onda.svg);
  font-size: 4em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  align-self: center;
  padding: 0 0.5em;
}

/* Vantages */

.vantages:nth-child(odd) {
  background-color: #eeecec;
}

.vantages .vantages-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em 1.25em;
  align-items: center;
  padding: 0.5em;
}

.vantages-item .vantages-parag {
  grid-column: 2;
}

.vantages-item:hover {
  border-left: #ee2211 solid 0.2rem;
}

/* Footer */

.footer {
  background-color: #fff;
  width: 100%;
  text-align: center;
}

.footer .parag-footer {
  padding: 1em;
}

/* Media Queries */

@media (max-width: 64rem) {
  .content-vantages {
    grid-template-columns: 1fr;
  }

  .subtitle {
    text-align: center;
  }
}

@media (max-width: 50rem) {
  .content {
    grid-template-columns: 1fr;
  }

  .intro::before {
    display: none;
  }

  body {
    gap: 1.5rem;
    margin-top: 2.5rem;
  }

  .header {
    gap: 1rem;
  }

  .menu {
    gap: 0.75rem;
  }

  .intro{
    text-align: left;
    justify-items: start;
  }
}
