* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* Align */

.nav-grid {
  display: grid;
  grid-template-columns: repeat(4, 7em);
  gap: 1em;
  align-items: end;
  justify-content: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 24em);
  justify-content: center;
  height: auto;
}

.content-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  align-items: flex-end;
}

.paragraph-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.list {
  display: grid;
  grid-template-columns: 1rem 23rem;
  gap: 1em;
}

.list p {
  grid-column: 2;
}

.list-padding {
  padding: 2.5em 0 0 3em;
}

.footer {
  grid-column: 1 / -1;
  display: grid;
  align-items: center;
}

/* Margins - padding */
.general-margins {
  margin: 3.5em auto;
}

.content-margin {
  margin: 2em;
}

.content-padding {
  padding: 2em 0.7em 2em 2em;
}

.figure .pic {
  margin: 0 auto;
}

/* General Configs */
body {
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
}

.nav .link,
.btn {
  border-radius: 5px;
}

.container {
  width: 80%;
}

.box {
  background-color: aqua;
  height: 24em;
  border: #111 solid;
}

/* Header */
.header {
  height: 10em;
}

.figure .pic {
  width: 10em;
  display: block;
}

.nav {
  width: 100%;
  height: 7em;
}

.nav .link {
  background-color: rgb(255, 255, 255);
  color: #111;
  text-decoration: none;
  font-weight: bold;
  height: 2.5em;
}

/* Main */
.main {
  background-color: rgb(255, 255, 255);
  height: auto;
}

/* Content */
.content {
  font-size: 20px;
  text-align: right;
}

.descriptive {
  font-weight: bold;
}

.bike-figure {
  width: auto;
}

.product-pic {
  width: 100%;
}

.btn {
  background-color: #ee2211;
  border: none;
  color: white;
  width: 10em;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-self: end;
}

/* Vantages */

.vantages {
  text-align: right;
  color: #c6c6c6;
  background-color: #f7f7f7;
  font-size: 3em;
}

/* List */
.list {
  width: 24em;
}

/* Footer */

.footer {
  background-color: #fff;
  text-align: center;
  font-size: 20px;
  height: 5em;
}